div {
    margin: 15px;
}

body {
    background-image: -webkit-linear-gradient(#F3C77D, #7B7F42);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #452700;
}

img {
    border-radius: 5%;
}

h3 {
    color: #F3C77D;
}
.lists {
    padding: 3px;
}